{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}


<section class="section cause-single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="single-details">
<img src="{{ .Params.Image | absURL }}" alt="{{ .Title | markdownify }}" class="img-fluid w-100">
<h2 class="my-4 text-lg">{{ .Title | markdownify }}</h2>
          <div class="content">
            {{.Content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{ end }}