{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section event">
  <div class="container">
    <div class="row justify-content-center">
      {{ $paginator := .Paginate .Data.Pages }}


      <!-- {{ $categ := "oo" }}
      {{ if gt (sub now.YearDay .Date.YearDay) 10 }}
      {{ $categ = "past" }}
      {{ else }}
      {{ $categ = "present" }}
       {{ end }} -->


<!--       {{ $currentPage := . }}

      {{ range .Site.Menus.main }}

{{ if .HasChildren }}
{{ range .Children }}
  {{ $currentPage.HasMenuCurrent "title" .}}

          {{ $menu_item_url := .Title  }}
          <h1>a{{ $menu_item_url }} </h1> 
          <br />
          {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
<h1>b{{ $page_url }} </h1> 
          {{ if eq $menu_item_url $page_url }}
              <h1>X {{$menu_item_url}} </h1>
           <h1>Z </h1> 
          {{ end }}
{{end}}
{{end}}
      {{ end }} -->



      {{ range (where .Paginator.Pages ".Params.categ" "past") }}
      <div class="col-lg-4 col-md-6">
        <div class="card event-item mb-4">
          <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
          <div class="card-body">
            <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
            <p class="card-text">{{ .Summary }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>{{ i18n "event_date" }} : </strong> {{ .Params.EventDate }}</li>
            <li class="list-group-item"><strong>{{ i18n "event_location" }}  : </strong> {{ .Params.Location | markdownify }}</li>
            <li class="list-group-item"><strong>{{ i18n "event_organizer" }}  : </strong> {{ .Params.Organizer | markdownify }}</li>
          </ul>
          <a href="{{ .Permalink }}" class="btn btn-main-2">{{ i18n "event_button" }}</a>
        </div>
      </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}